<h1 id="title" class="title">Reset Password</h1>
<p class="sub-title">Reset your password for <strong>{{currentEmail}}</strong> </p>

<form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm" aria-labelledby="title">

    <div class="form-control-group">
        <span class="label-with-link">
            <label class="label" for="input-oldPassword">Old Password</label>
        </span>
        <input nbInput fullWidth formControlName="oldPassword" name="password" type="password" id="input-oldPassword"
            placeholder="Old Password" fieldSize="large"
            [status]="resetPasswordForm.controls['oldPassword'].dirty ? (resetPasswordForm.controls['oldPassword'].invalid  ? 'danger' : 'success') : 'basic'"
            [attr.aria-invalid]="resetPasswordForm.controls['oldPassword'].invalid && resetPasswordForm.controls['oldPassword'].touched ?  true : null">
        <ng-container
            *ngIf="resetPasswordForm?.controls?.['oldPassword']?.invalid && resetPasswordForm?.controls?.['oldPassword']?.touched ">
            <p class="caption status-danger" *ngIf="resetPasswordForm?.controls?.['oldPassword']?.errors?.['required']">
                Old Password is required!
            </p>
        </ng-container>
    </div>
    <div class="form-control-group">
        <span class="label-with-link">
            <label class="label" for="input-newPassword">New Password</label>
        </span>
        <input nbInput fullWidth formControlName="newPassword" name="newPassword" type="password" id="input-newPassword"
            placeholder="New Password" fieldSize="large"
            [status]="resetPasswordForm.controls['newPassword'].dirty ? (resetPasswordForm.controls['newPassword'].invalid  ? 'danger' : 'success') : 'basic'"
            [attr.aria-invalid]="resetPasswordForm.controls['newPassword'].invalid && resetPasswordForm.controls['newPassword'].touched ?  true : null">
        <ng-container
            *ngIf="resetPasswordForm?.controls?.['newPassword']?.invalid && resetPasswordForm?.controls?.['newPassword']?.touched ">
            <p class="caption status-danger" *ngIf="resetPasswordForm?.controls?.['newPassword']?.errors?.['required']">
                New Password is required!
            </p>
        </ng-container>
    </div>
    <div class="form-control-group">
        <span class="label-with-link">
            <label class="label" for="input-confirmNewPassword">Confirm New Password</label>
        </span>
        <input nbInput fullWidth formControlName="confirmNewPassword" name="confirmNewPassword" type="password"
            id="input-confirmNewPassword" placeholder="Confirm New Password" fieldSize="large"
            [status]="resetPasswordForm.controls['confirmNewPassword'].dirty ? (resetPasswordForm.controls['confirmNewPassword'].invalid  ? 'danger' : 'success') : 'basic'"
            [attr.aria-invalid]="resetPasswordForm.controls['confirmNewPassword'].invalid && resetPasswordForm.controls['confirmNewPassword'].touched ?  true : null">
        <ng-container
            *ngIf="resetPasswordForm?.controls?.['confirmNewPassword']?.invalid && resetPasswordForm?.controls?.['confirmNewPassword']?.touched ">
            <p class="caption status-danger"
                *ngIf="resetPasswordForm?.controls?.['confirmNewPassword']?.errors?.['required']">
                Confirm New Password is required!
            </p>
        </ng-container>
        <ng-container
            *ngIf="resetPasswordForm?.controls?.['confirmNewPassword']?.touched && resetPasswordForm?.controls?.['confirmNewPassword']?.valid && this.resetPasswordForm.controls['newPassword'].value !== this.resetPasswordForm.controls['confirmNewPassword'].value">
            <p class="caption status-danger">
                Password do not match
            </p>
        </ng-container>
    </div>

    <button nbButton fullWidth status="primary" size="large" [disabled]="resetPasswordForm.invalid || (resetPasswordForm.controls['newPassword'].value !== resetPasswordForm.controls['confirmNewPassword'].value)">
        Reset Password
    </button>
</form>