<div>
    <h2 id="title" class="title fw-semibold">Multi Factor Authentication</h2>
    <p *ngIf="otpType === 'Email'; else elseBlock" class="sub-title fs-5 lh-base">Please check your email and enter the OTP for <strong>{{currentEmail}}</strong></p>
    <ng-template #elseBlock><p class="sub-title fs-5 lh-base">Please enter the OTP from your Authentication app for <strong>{{currentEmail}}</strong></p></ng-template>
    <form (ngSubmit)="mfaVerification()" [formGroup]="otpForm" aria-labelledby="title">
        <div class="form-control-group">
            <label class="label" for="input-otp">OTP</label>
            <input nbInput fullWidth formControlName="otp" name="otp" type="text" id="input-otp" placeholder="OTP" fieldSize="large" autofocus="true"
                [status]="otpForm.controls['otp'].dirty ? (otpForm.controls['otp'].invalid  ? 'danger' : 'success') : 'basic'"
                [attr.aria-invalid]="otpForm.controls['otp'].invalid && otpForm.controls['otp'].touched ? true : null">
            <ng-container *ngIf="otpForm?.controls?.['otp']?.invalid && otpForm?.controls?.['otp']?.touched">
                <p class="caption status-danger" *ngIf="otpForm?.controls?.['otp']?.errors?.['required']">
                    OTP is required!
                </p>
            </ng-container>
        </div>

        <button nbButton fullWidth status="primary" size="large" [disabled]="otpForm.invalid">
            Verify
        </button>
    </form>
</div>