<h1 id="title" class="title">Create New Password</h1>
<p class="sub-title lh-base">Create new password for <strong>{{currentEmail}}</strong></p>

<form (ngSubmit)="createNewPassword()" [formGroup]="createPasswordForm" aria-labelledby="title">

    <div class="form-control-group">
        <span class="label-with-link">
            <label class="label" for="input-newPassword">New Password</label>
        </span>
        <input nbInput fullWidth formControlName="newPassword" name="newPassword" type="password" id="input-newPassword"
            placeholder="New Password" fieldSize="large"
            [status]="createPasswordForm.controls['newPassword'].dirty ? (createPasswordForm.controls['newPassword'].invalid  ? 'danger' : 'success') : 'basic'"
            [attr.aria-invalid]="createPasswordForm.controls['newPassword'].invalid && createPasswordForm.controls['newPassword'].touched ?  true : null">
        <ng-container
            *ngIf="createPasswordForm?.controls?.['newPassword']?.invalid && createPasswordForm?.controls?.['newPassword']?.touched ">
            <p class="caption status-danger"
                *ngIf="createPasswordForm?.controls?.['newPassword']?.errors?.['required']">
                New Password is required!
            </p>
        </ng-container>
    </div>
    <div class="form-control-group">
        <span class="label-with-link">
            <label class="label" for="input-confirmNewPassword">Confirm New Password</label>
        </span>
        <input nbInput fullWidth formControlName="confirmNewPassword" name="confirmNewPassword" type="password"
            id="input-confirmNewPassword" placeholder="Confirm New Password" fieldSize="large"
            [status]="createPasswordForm.controls['confirmNewPassword'].dirty ? (createPasswordForm.controls['confirmNewPassword'].invalid  ? 'danger' : 'success') : 'basic'"
            [attr.aria-invalid]="createPasswordForm.controls['confirmNewPassword'].invalid && createPasswordForm.controls['confirmNewPassword'].touched ?  true : null">
        <ng-container
            *ngIf="createPasswordForm?.controls?.['confirmNewPassword']?.invalid && createPasswordForm?.controls?.['confirmNewPassword']?.touched ">
            <p class="caption status-danger"
                *ngIf="createPasswordForm?.controls?.['confirmNewPassword']?.errors?.['required']">
                Confirm New Password is required!
            </p>
        </ng-container>
        <ng-container
            *ngIf="createPasswordForm?.controls?.['confirmNewPassword']?.touched && createPasswordForm?.controls?.['confirmNewPassword']?.valid && this.createPasswordForm.controls['newPassword'].value !== this.createPasswordForm.controls['confirmNewPassword'].value">
            <p class="caption status-danger">
                Password do not match
            </p>
        </ng-container>
    </div>

    <button nbButton fullWidth status="primary" size="large"
        [disabled]="createPasswordForm.invalid || (createPasswordForm.controls['newPassword'].value !== createPasswordForm.controls['confirmNewPassword'].value)">
        Create Password
    </button>
</form>